:root{
    --main_color: #212121;
    --second_color: #2196F3;
    --hover_color:#1c81d4;
    --third_color: #757575;
    --ligh_gray:#F5F4FA;
    --border_color:#f6f6f6;
    --icon_color:#AFB1B8;
}
a{
    text-decoration: none;
    cursor: pointer
}
li{
    list-style-type: none;
}
img{
    display: block;
    z-index: 1;
}
ul{
    padding-left: 0px;
    margin: 0 auto;
}
body{
    font-family: Roboto, sans-serif;
    color: var(--main_color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
header{
    border-bottom: 1px solid var(--border_color);
}
header.icon{
    margin-right: 10px;
}
.icon_features{
    width: 70px;
    height: 70px;
}

*,
::before,
::after {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

a{
    color: var(--main_color);
    margin: 0 auto;
}
.logo_footer{
    color: white;
}
p{
    margin: 0 auto;
}
.logo_first_half{
    font-family: Raleway;
    color:var(--second_color);
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
}
.logo_second_half{
    font-family: Raleway;
    color: var(--main_color);
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    margin: 0 auto;
    gap: 30px;
    max-width: 1200px;
}
.container_header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.container_footer{
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
    align-items: baseline;
}
.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 215px;
}
.navigation_panel{
    display: flex;
    gap: 50px;
    flex-direction: row;
    margin-top: 0px;
    margin-left: 0px;
}
.navigation_panel_item{
    color: var(--main_color);
    list-style-type: none;
    padding: 32px 0 32px 0;
    position: relative;
}
.navigation_panel_item_active{
    color: var(--second_color);
    list-style-type: none;
    position: relative;
    padding: 32px 0 32px 0;
}
.navigation_panel_item_active::after{
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    bottom: -1px;
    left: 0px;
    background-color: var(--second_color);
}
.navigation_panel_item:hover,
.navigation_panel_item:focus{
    color: var(--second_color);
    transition: 300ms;
}
.navigation_panel_item:hover::after{
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    bottom: -1px;
    left: 0px;
    background-color: var(--second_color);
    transition: 300ms ease-in;
}
.panel_info{
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    gap: 40px;
    margin-right: 0;
    margin-left: auto;
}
.info_panel_item{
    color:var(--third_color);

}
.info_panel_item:hover,
.info_panel_item:focus{
    color: var(--second_color);
    transition: 300ms;
}
.info_panel_item:hover .panel_icon{
    fill:var(--second_color);
    transition: 250ms ease-in;
}
.open_section{
    background-color: #2F303A;
    width: 100%;
    text-align: center;
}
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../images/hero_bg.jpg);
    background-size: cover;
}
.open_text{
    max-width: 700px;
    text-align: center;
    color: white;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 30px;
}
.hero_button{
    border-radius: 4px;
    background: var(--second_color);
    color:white;
    font-size: 16px;
    letter-spacing: 0.96px;
    line-height: 187.5%;
    font-weight: 700;
    padding: 10px 24px 10px 24px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
}
.hero_button:hover{
    background-color: var(--hover_color);
    transition: 300ms ease-in;
}
.sections{
    padding-top: 94px;
    padding-bottom: 94px;
}
.our_team{
    background-color: var(--ligh_gray);
    padding-top: 94px;
    padding-bottom: 94px;
}
.sections:last-of-type{
    background-color: var(--ligh_gray);
    padding-top: 94px;
}
.work{
    padding-bottom: 94px;
}
.work_list{
    position: relative;
}
.work_div{
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    padding: 27px 0 27px 0;
    max-height: 70px;
    width: 100%;
    background: rgba(47, 48, 58, 0.80);
    bottom: 0%;
}
.features_div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ligh_gray);
    max-height: 120px;
    margin-bottom: 30px;
    padding: 25px 100px 25px 100px;
}
.little_title{
    color: var(--main_color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.first_text{
    color: var(--third_color);
    font-weight: 400;
    max-width: 270px;
}
.big_title{
    color: var(--main_color);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.name_in_card{
    color: var(--main_color);
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}
.occupation{
    color: var(--third_color);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}
.worker_card{
    background-color: white;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.bottom_of_card{
    padding: 30px 0 30px 0;
}
.socials{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}
.socials_list_item{
    background: white;
    width: 44px;
    height: 44px;
    padding: 12px 12px 12px 12px;
    border-radius: 22px;
}
.instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    transition: 300ms ease-in;
    opacity: 1;
}
.twitter:hover{
    background-color: #1DA1F2;
    transition: 300ms ease-in;
}
.facebook:hover{
    background-color: #4267B2;
    transition: 300ms ease-in;
}
.linkedin:hover{
    background-color: #0077B5;
    transition: 300ms ease-in;
}

.socials_list_item:hover .social_icon{
    fill: white;
}
.social_icon{
    width: 20px;
    height: 20px;
    fill:var(--icon_color);
    z-index: 2;
}
footer .social_icon{
    fill: white;
}
footer .socials_list_item{
    background-color: rgba(255, 255, 255, 0.10);;
}
.clients{
    padding: 94px 0 94px 0;
    font-weight: 700;
    font-size: 36px;
}
.client_logo_box{
    border: 1px solid var(--icon_color);
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    max-width: 170px;
    max-height: 92px;
}
.client_logo_box:hover{
    border: 1px solid var(--second_color);
    fill: var(--second_color);
    transition: 300ms ease-in;
}
.client_logo_box:hover .client_logo{
    fill: var(--second_color);
    transition: 300ms ease-in;
}
.client_logo{
    fill: var(--icon_color);
    width: 106px;
    height: 60px;
}
.navigation_portfolio{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 30px;
    max-width: 1200px;
    padding: 0;
}
.portfolio_button{
    background-color: var(--ligh_gray);
    height: 38px;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    padding: 6px 22px 6px 22px;
    cursor: pointer;
}
.portfolio_button:hover{
    background-color: var(--second_color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    color: white;
    transition: 300ms;
}
.portfolio_button_text{
    padding:6px 22px 6px 22px;
}
.portfolio_card{
    max-width: 370px;
}
.portfolio_card:hover{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    transition: 300ms;
}
.portfolio_image{
    position: relative;
    overflow: hidden;  
}
.overlay{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.90);
    transform: translateY(100%);
    padding: 63px 24px 63px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    
}
.portfolio_card:hover .overlay{
    transform: translateY(0%);
    transition: transform 250ms ease-out;
}
.card_title{
    color: var(--main_color);
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto;
    line-height: 36px; /* 200% */
    letter-spacing: 1.08px;
}
.card_soft_title{
    color: var(--third_color);
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.48px;
    margin-top: 4px;
}
.portfolio_card_bottom{
    border: 1px solid var(--border_color);
    padding: 20px 24px 20px 24px;
    z-index: 3;
}
.container_footer_info{
    display: flex;
    flex-direction: column;
    margin-right: 94px;
}
.container_footer_join{
    display: flex;
    flex-direction: column;
}
.footer_section{
    background-color: #2F303A;
    width: 100%;
    position: absolute;
    padding: 60px 0 60px 0;
}
.logo_second_half_footer{
    font-family: Raleway;
    color: white;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
}
.address_info{
    color: white;
    margin: 0 0 0 0;
    margin-top: 28px;

}
.address:hover{
    color: var(--second_color);
    transition: 300ms ease-in;
    cursor: pointer;
}
.footer_info{
    color:rgba(255, 255, 255, 0.60);
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
    font-style: normal;
    margin: 0 auto;
    margin-top: 12px;
    margin-right: 94px;
    cursor: pointer;
}
.footer_text:hover{
    color: var(--second_color);
    transition: 300ms ease-in;
}
.footer_text{
    color:rgba(255, 255, 255, 0.60);
}
.join{
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 ;
}
.socials_footer{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.backdrop{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);
}
.modal{
    align-self: center;
    width: 528px;
    height: 581px;
    background-color: white;
    margin: 0 auto;
    z-index: 55;
    position: relative;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.exit{
    position: absolute;
    border: 1px solid var(--border_color);
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    border-radius: 15px;
    background-color: var(--border_color);
}
.exit:hover{
    border: 1px solid var(--second_color);
    background-color: var(--second_color);
    transition: 300ms ease-in;
}
.is-hidden{
    opacity: 0;
    pointer-events: none;
}
